body {
  text-align: center;
  background-image: url("images/bkg3.jpg");
}

.modify-body {
  background-color: black;
}

h1 {
  font-size: 5rem;
  color: #FFA07A;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #FA8072;
  font-family: sans-serif;
}

.w {
  background: url("images/small.png");
}

.a {
  background: url("images/try.png");
}

.s {
  background: url("images/gl.png");
}

.d {
  background: url("images/dark.png");
}

.j {
  background: url("images/sm.png");
}

.k {
  background: url("images/crash.png");
}

.l {
  background: url("images/sm.png");
}

.z {
  background: url("images/gls.jpg");
}

.x {
  background: url("images/sm.png");
}

.f {
  background: url("images/4.png");
}

.set {
  margin: auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
  background-color: red;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: blue;
}
